body {
  background: #fafafa;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 20px;
  font-family: 'PressStart2PRegular';
  height: 100%;
}

.dino {
  position: absolute;
  left: 100px;
  bottom: 0px;
  /*background-image: url(/img/dino.png);*/
  width: 60px;
  height: 60px;
}

.cactus {
  position: absolute;
  width: 60px;
  height: 100px;
  bottom: 0px;
  /*background-image: url(/img/cactus.png);*/
}

.game-over {
  text-align: center;
  color: #666;
  margin: 100px 0;
}

@keyframes slideright {
  from {
      background-position: 70000%;
  }
  to {
      background-position: 0%;
  }
}

.background {
  position: absolute;
  bottom: 100px;
  background-image: url('/img/background.png');
  background-repeat: repeat-x;
  animation: slideright 500s infinite linear;
  -webkit-animation: slideright 500s infinite linear;
  width: 100%;
  height: 200px;
}

.info{
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  top: 10px;
}
.box{
  margin: 20px;
  width: 250px;
  height: 80px;
  border-radius: 20px;
  text-align: center;
}

#play{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
  width: 240px;
  height: 110px;
}
#play:hover{
  cursor: pointer;
  transform: scale(1.1);
    transition: all 0.5s;
}